<div class="w-full">
  <% if notice.present? %>
    <p class="flex justify-center py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex flex-col gap-3 justify-between items-center">
    <h1 class="font-bold text-4xl">Groups</h1>
    <%= link_to 'New group', new_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="flex flex-col  justify-center">

    <% @groups.each do |group|%>
        <div id="groups" class=" min-w-full ">
          <div class="flex gap-3 m-10 items-center justify-center">
          <%= image_tag group.icon, class:"w-20"%>
          <div class="flex flex-col gap-3 m-1 items-center ">
            <%=link_to payment_path(group.id)  do%>
              <%= group.name%>
            <%end%>
            <div class="flex">
            <%= group.created_at.strftime("%d-%m-%Y")%>
          </div>
        </div>
        <% @total.each do |key, value| %>
          <%if key == group.id%>
              <div class="flex flex-col gap-3 m-1 items-center ">
                <div class="flex">
                  $<%= value%>
                </div>
              </div>
          <%end%>
        <%end%>
      </div>
    </div>
  <%end%>
  </div>
</div>
