<div class="w-full">
  <% if notice.present? %>
    <p class="flex justify-center py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <nav>
        <div class="flex items-center justify-around">
            <div>
            <%=link_to groups_path do%>
                <
            <%end%>
            </div>
            <div>
                 <img class="w-20" src="<%= asset_path 'Bently_logo.png' %>">
            </div>
            <div class="flex">
              <%= button_to 'Transactions', payments_path, method: :get, class:"text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" %>
            <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class:"text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" %>
            </div>
        </div>
  </nav>
  <div class="flex m-3 flex-col gap-3 justify-between items-center">
    <h1 class="font-bold text-4xl">Groups</h1>
    <%= link_to 'New group', new_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="flex flex-col  justify-center">
   <table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Group</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created At</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @groups.each do |group|%>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="flex items-center">
            <%= image_tag group.icon, class:"w-16 h-17 rounded-full"%>
            <div class="ml-4">
              <%=link_to payment_path(group.id)  do%>
                <div class="text-sm font-medium text-gray-900">
                  <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"> <%= group.name%> </button>
                </div>
              <%end%>
            </div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900"><%= group.created_at.strftime("%d-%m-%Y")%></div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">
            <% @total.each do |key, value| %>
              <%if key == group.id%>
                  $<%= value%>
              <%end%>
            <%end%>
          </div>
        </td>
      </tr>
    <%end%>
  </tbody>
  </table>
</div>
