<nav class="flex items-center  justify-center flex-row m-10">
    <% if user_signed_in? %>
        <div class="flex items-center justify-between">
            <div>
            <%=link_to groups_path do%>
                <
            <%end%>
            </div>
            <div>
                 <img class="w-20" src="<%= asset_path 'Bently_logo.png' %>">
            </div>
            <div class="flex">
              <%= button_to 'Transactions', payments_path, method: :get, class:"text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" %>
            <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class:"text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" %>
            </div>
        </div>
    <%else %>
    <div class="container flex justify-between">
        <div>
          <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500">
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        </div>
        <div>
        <%=link_to root_path do %>
            <img class="w-20" src="<%= asset_path 'Bently_logo.png' %>">
        <%end%>
        </div>
        <div class="flex gap-3">
            <div>
                <%= link_to new_user_session_path do  %>
                    <button class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">
                        sign in
                    </button>
                <% end %>
            </div>
            <div>
                <%= link_to new_user_registration_path do  %>
                    <button class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded">
                        Sign up
                    </button>
                <% end %>
            </div>
        </div>
    </div>
    <%end%>
</nav>
